<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<style type="text/css">
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input:focus {
  background-color: lightblue;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
    <h1>Import bibs from csv file</h1>
    <form action="do_define_bibs?event_id={{event_id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username_label">F3X Vault username : </label>
        <input id="username_field" type="text" name="username" value="">
        <br/>
        <label for="password_label">F3X Vault Password : </label>
        <input id="password_field" type="password" name="password" value="">
        <br/>
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        <br/>
        <input type="submit" value="Define bibs !">
    </form>
</body>




