<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<style type="text/css">
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input:focus {
  background-color: lightblue;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
    <h1>Edit time for pilot {{bib_number}} :</h1>
        <form action="edit_run_time?event_id={{event_id}}&round_number={{round_number}}&bib_number={{bib_number}}" method="post" >
        {% csrf_token %}
        <label for="flight_time_label">Flight time : </label>
        <input id="flight_time_field" type="text" name="flight_time" value="">
        <br/>
        <input type="submit" value="Validate !">
    </form>
</body>




