<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<style type="text/css">
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input:focus {
  background-color: lightblue;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
    <h1>Create new event from F3X Vault</h1>
    <form action="load_from_f3x_vault" method="post">
        {% csrf_token %}
        <label for="username_label">F3X Vault username : </label>
        <input id="username_field" type="text" name="username" value="">
        <br/>
        <label for="password_label">F3X Vault Password : </label>
        <input id="password_field" type="password" name="password" value="">
        <br/>
        <label for="F3X_vault_id_label">F3X Vault Event ID : </label>
        <input id="F3X_vault_id_field" type="text" name="F3X_vault_id" value="">
        <br/>
        <input type="submit" value="Load from F3X Vault !">
    </form>
    <h1>Create new event from scratch</h1>
    <form action="load_from_scratch" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="eventname_label">Event name : </label>
        <input id="eventname_field" type="text" name="eventname" value="">
        <br/>
        <label for="event_location_label">Event location : </label>
        <input id="event_location_field" type="text" name="eventlocation" value="">
        <br/>
        <label for="start_date_label">Start date (dd/mm/yy) : </label>
        <input id="start_date_field" type="text" name="startdate" value="">
        <br/>
        <label for="end_date_label">End date (dd/mm/yy) : </label>
        <input id="end_date_field" type="text" name="enddate" value="">
        <br/>
        <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
        <br/>
        <input type="submit" value="Create event !">
    </form>
</body>




